.calculate {
    margin: 40px auto;
    text-align: center;
    font-family: $font-main;

    &__title {
        font-size: 28px;
        font-weight: $font-bold;
    }

    &__form {
        position: relative;
        margin-top: 20px;
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;

        &.bmi__form,
        &.whr__form {
            gap: 20px;
            margin-top: 30px;

            .calculate__box {
                flex-direction: column;
                align-items: center;
                gap: 10px;
            }
        }
    }

    &__label {
        justify-content: center;
        display: flex;
        font-size: 18px;
    }

    &__input {
        justify-content: center;
        padding: 10px;
        border-radius: 30px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-size: 18px;
        text-align: center;
        width: 50%;
        transition: 0.4s;
        outline: none;
        cursor: pointer;

        &:focus {
            background-color: rgba(238, 198, 70, 0.1);
        }
    }

    &__button {
        padding: 10px 35px;
        margin-top: 30px;
    }

    &__box {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 90%;

        &:first-of-type {
            justify-content: center;
        }
    }

    &__gender {
        margin: 5px 10px 10px 10px;
        opacity: 70%;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        cursor: pointer;

        &:hover {
            opacity: 100%;
        }

        &:focus {
            opacity: 100%;
            border: 2px solid #fff;
        }

        &--female {
            justify-self: end;
        }
    }
}

@media only screen and (min-width: 768px) {
    .calculate {
        &__input {
            width: 30%;
        }

        &__box {
            width: 50%;
    
            &:first-of-type {
                justify-content: center;
            }
        }
    }
}

@media only screen and (min-width: 1024px) {
    .calculate {
        &__form {
            &.bmi__form,
            &.whr_form {
                gap: 32px;
            }
        }

        &__box {
            width: 35%;
        }

        &__label {
            font-size: 20px;
        }

        &__input {
            width: 25%;
        }
    }
}

@media only screen and (min-width: 1024px) {
    .calculate {
        &__box {
            width: 25%;
        }
    }
}
