.calories {
    margin-bottom: 50px;

    &__gender {
        margin: 5px 20px;
    }

    &__input {
        margin: 0;
    }
}

@media only screen and (min-width: 641px) {
    .calories {
        display: grid;
        padding: 0 100px;
        grid-template-columns: 1fr 1fr;
        row-gap: 15px;
        grid-auto-flow: row dense;
        justify-items: center;
        align-items: center;

        &__input {
            width: 60%;
            justify-self: start;
        }

        &__label {
            justify-self: end;
            padding-right: 40px;
        }
    }

    .female {
        justify-self: end;
    }

    .male {
        justify-self: start;
    }




}

@media only screen and (min-width: 1141px) {
}