.calories {
    margin-bottom: 50px;

    &__input {
        margin: 0;
    }
}

@media only screen and (min-width: 641px) {
    .calories {
        display: grid;
        padding: 0 100px;
        grid-template-columns: 1fr 1fr;
        row-gap: 15px;
        grid-auto-flow: row dense;
        justify-items: center;
        align-items: center;

        &__input {
            width: 60%;
            justify-self: start;
        }

        &__label {
            justify-self: end;
            padding-right: 40px;
        }

        &__gender {
            &--female {
                justify-self: end;
                margin-bottom: 5px;
            }

            &--male {
                justify-self: start;
                margin-bottom: 5px;
            }
        }
    }
}

@media only screen and (min-width: 1141px) {
    .calories {
        padding: 0 350px 30px;
        row-gap: 7px;

        &__input {
            width: 60%;
        }

        &__label {
            font-size: 17px;
        }

    }

    .item-a {
        grid-column: 1;
        justify-self: center;
        margin-left: 50px;
    }

    .item-b {
        grid-column: 2;
        justify-self: center;
        margin-right: 50px;
    }
}
