.choice {
    &__buttons {
        display: flex;
        flex-direction: column;
    }

    &__text {
        padding-top: 15px;
        text-align: center;
        font-size: 25px;
        font-weight: $font-regular;
    }

    &__button {
        margin: 10px;
        text-align: center;
        width: 50%;
        align-self: center;
    }
}

@media only screen and (min-width: 768px) {
    .choice {
        &__button {
            width: 30%;
        }
    }
}

@media only screen and (min-width: 1024px) {
    .choice {
        &__button {
            width: 40%;
        }
    }
}
