.intro {
    &__container {
        text-align: center;
    }

    &__text {
        line-height: 40px;
        padding-top: 20%;


        &--title {
            margin: 0;
            font-size: 30px;
            font-weight: $font-bold;
        }

        &--description {
            font-size: 20px;
            padding-bottom: 20px;
        }
    }
}

@media only screen and (min-width: 1024px) {
    .intro {
        &__text {
            padding-top: 30%;
        }
    }
}
