.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 12px 15px;
    font-size: 25px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    &__container {
        margin: 0, auto;
        background-color: $color-first;
        color: $colot-white;
    }

    &__element {
        list-style-type: none;
        padding: 0;
        cursor: pointer;
    }

    &__option {
        display: none;

        a:hover {
            color: $color-second;
            transform: scale(1.05);
            will-change: transform;
        }

        &--menu {
            display: flex;
            background-color: $color-first;
            border: none;
            color: $colot-white;
            font-family: $font-main;
            font-size: 23px;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

            &:hover {
                color: $color-second;
            }
        }

        &--logo {
            font-family: $font-logo;

            &:hover {
                transform: scale(1.05);
                will-change: transform;
            }

            span {
                color: $color-second;
            }
        }
    }

    .dropdown {
        display: inline-block;
        position: relative;

        &__content {
            display: none;
            position: absolute;
            width: 186%;
            overflow: auto;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            background-color: $color-first;
            border-radius: 7px;
            z-index: 1;

            &--link {
                display: block;
                color: $colot-white;
                padding: 10px;
                text-decoration: none;
                font-size: 20px;

                &:hover {
                    color: $colot-white;
                    background-color: $color-second;
                }
            }
        }

        &:hover .dropdown__content {
            display: block;
        }
    }
}

@media only screen and (min-width: 768px) {
    .navbar {
        padding: 12px 25px;
    }
}

@media only screen and (min-width: 1024px) {
    .navbar {
        padding: 12px 60px;
        
        &__options {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        &__option {
            display: flex;
            padding-left: 30px;
            font-size: 23px;

            &--menu {
                display: none;
            }
        }
    }
}
