.result {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
    gap: 25px;

    &__value {
        margin: 0;
        font-size: 26px;
        font-weight: 600;
        background-color: $color-second;
        border-radius: 50%;
        padding: 10px 15px;
        border: 5px #fff solid;
    }

    &__meaning {
        font-size: 18px;
        margin: 0;
    }
}

@media only screen and (min-width: 768px) {
    .result { 
        &__value {
            font-size: 32px;
        }
    
        &__meaning {
            font-size: 24px;
        }
    }
}