/* Variables */

$colot-white: #fff;
$color-first: #84936a;
$color-second: #eec646;

$font-main: "Nunito", sans-serif;
$font-logo: "Amaranth", sans-serif;

$font-regular: 400;
$font-bold: 600;
$font-strong-bold: 700;
